/** {
  border: 2px solid black;
}*/
.list {
  display: flex;
  border: 2px solid red;
  flex-flow: row wrap;
  padding: 0;
justify-content: flex-end;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
/*.menu {
  border: 2px solid green;
  
}*/

.item {
  flex-grow: 1;
  flex-basis: 1;
  list-style-type: none;
  
  align-self: center;
  flex-shrink: 4;

.item1 {
  margin-left: 20px;
}

.item4 {
  margin-right: 20px;
}
