* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  height: 100px;
  background-color: yellow;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 20px;
  margin-left: 20px; */
  align-content: space-around;
  padding: 0;
}

.item {
  background-color: green;
  /* width: 20%; */
  border: 1px solid black;
}

.item-1 {
  margin-left: 20px;
}

.item-2 {
  margin-right: 20px;
}
